
body {
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */

    font-size:20px;
    height: 100%;
    margin: 4px;
    padding: 4px;
    width: 90%;
}

input { font-size: 20px; }

li { margin-bottom: .4em; }
